<!DOCTYPE html>  
<html lang="pt-br">  
<head>  
   <meta charset="UTF-8">  
   <title>{% block title %}{% endblock %}</title>

   {% load static %}  

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static  'css/custom.css' %}">

</head> 
<body>
   
   <header class="bg-success py-2 text-white">
      <nav class="navbar px-5">
         <h4 class="text-center">B3Track</h4> 
         <ul class="navbar-nav mr-auto d-flex flex-row gap-4">
            {% if user.is_authenticated %}
            <li class="nav-item">
               <a class='nav-link text-white' href="/">Home</a>
            </li>
            <li class="nav-item">
               <a class='nav-link text-white' href="/reset_password">Change Password</a>
            </li>
            {% else %}
            <li class="nav-item">
               <a class='nav-link text-white' href="/accounts/login">Entrar</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
               <a class='nav-link text-white' href="/accounts/logout">Sair</a>
            </li>
            {% endif%}

         </ul>
      </nav>
   </header>
   <div class="container-fluid px-5">
      <div class="row">
         {% block content %}
            <!-- conteudo aqui -->
         {% endblock %}
      </div>
   </div>
   <script src="{% static 'js/custom.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script src="//code.jquery.com/jquery-3.5.1.js"></script>
   <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
   <script src="//cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
   <script>
      $(document).ready(function() {
         $('#lista_acoes').DataTable({ "aLengthMenu": [[5, 10], [5, 10, "All"]], "iDisplayLength": 5});
      });
   </script>
</body> 
</html>