{% extends "base.html" %}

{% block title %}Editar Ação{% endblock title %}

{% block content %}
<div class="col-md-6 m-auto">
  <!-- Formulario de edição  -->
  <form method="POST" class="post-form" action="/atualizar/{{acao.id}}">  
    {% csrf_token %}  
    <div class="container my-4"> 
      <div class="bg-light  py-3 border">  
        <!-- titulo da pagina -->
        <div class="form-group row mb-2 d-flex flex-column align-content-center">   
          <div class="col-sm-10 text-center"><h3>Detalhes da Atualização</h3></div>  
        </div> 

        <!-- codigo da acao -->
        <div class="form-group row mb-2  justify-content-center">  
          <label class="col-sm-4 col-form-label">Código Ação:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control w-100" name="codigo_acao" id="id_codigo_acao" required maxlength="10" value="{{ acao.codigo_acao }}" />  
          </div>  
        </div>
        <!-- descrição da Ação  -->
        <div class="form-group row mb-2 justify-content-center">  
          <label class="col-sm-4 col-form-label">Descrição:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control" name="descricao" id="id_descricao" required maxlength="150" value="{{ acao.descricao }}" />  
          </div>
        </div> 
        <!--Data da Açao  -->
        <div class="form-group row mb-2 justify-content-center">  
          <label class="col-sm-4 col-form-label">Data:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control" name="data" id="id_data" required value="{{ acao.data|date:'d/m/Y' }}" />  
          </div>  
        </div>
        <!-- valor de abertura -->
        <div class="form-group row mb-2 justify-content-center">  
          <label class="col-sm-4 col-form-label">Open:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control data-convert" name="open" id="id_open" required value="{{ acao.open}}"/>  
          </div>  
        </div> 
        <!-- Valor de fechamento -->
        <div class="form-group row mb-2 justify-content-center">  
          <label class="col-sm-4 col-form-label">Close:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control data-convert" name="close" id="id_close" required value="{{ acao.close }}" />  
          </div>  
        </div> 
        <!-- maior alta do dia -->
        <div class="form-group row mb-2 justify-content-center">  
          <label class="col-sm-4 col-form-label">High:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control data-convert" name="high" id="id_high" required value="{{ acao.high }}"/>  
          </div>  
        </div>
        <!-- Maior baixa do dia -->
        <div class="form-group row mb-2 justify-content-center">  
          <label class="col-sm-4 col-form-label">Low:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control data-convert" name="low" id="id_low" required value="{{ acao.low }}" />  
          </div>  
        </div>
        <!-- Quantidade de ações vendidas -->
        <div class="form-group row mb-2 justify-content-center">  
          <label class="col-sm-4 col-form-label">Volume:</label>  
          <div class="col-sm-4">  
            <input type="text" class="form-control" name="volume" id="id_volume" required value="{{ acao.volume }}"/>  
          </div>  
        </div> 
        <!-- Botao salvar edição -->
        <div class="form-group row justify-content-center">  
          <div class="col-sm-8  mt-3">  
            <button type="submit" class="btn btn-success btn-lg w-100 rounded-0 ">Atualizar</button>  
          </div>  
        </div> 
      </div>
    </div>  
  </form>
</div>  
{% endblock content %} 