#lista_acoes_wrapper > .row:nth-child(1) {
    margin-top: 15px;
    margin-bottom: 15px;
}

#lista_acoes_length{
    display: flex;
}

#lista_acoes_length > label,
#lista_acoes_filter > label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#lista_acoes_filter > label {
    justify-content: end;
}

#lista_acoes_filter > label > input {
    width: 35%;
}