{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}

    <div class="col-md-5 mx-auto d-flex flex-column align-content-center justify-content-center mt-5"">
        <div class="card auth-card py-4">
            <h4 class="card-title text-center"> Alterar senha</h4>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name = "next" value="{{next}}">
                    <div class="form-group mt-2 d-flex flex-column">
                        {% if form.old_password.errors %}                 
                            {% for error in form.old_password.errors %}
                                <p style="color:red;font-size:.85rem;margin-top:5px;margin-bottom:0px;">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <label>Senha antiga: </label>
                        {{form.old_password}}
                    </div>
                
                    <div class="form-group mt-2 d-flex flex-column">
                        {% if form.new_password1.errors %}                 
                            {% for error in form.new_password1.errors %}
                                <p style="color:red;font-size:.85rem;margin-top:5px;margin-bottom:0px;">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <label>Nova senha: </label>
                        {{form.new_password1}}
                    </div>
                
                    <div class="form-group mt-2 d-flex flex-column">
                        
                        {% if form.new_password2.errors %}                 
                        {% for error in form.new_password2.errors%}
                            <p style="color:red;font-size:.85rem;margin-top:5px;margin-bottom:0px;">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                        <label>Confirmação de senha: </label>
                        {{form.new_password2}}
                    </div>
                    <button type="submit" class="btn btn-success w-100 btn-block mt-4"> Salvar Alterações </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
